
@media (max-width:500px) {
   #siteheader {
	padding-left:0px;
	text-align:center;
	margin-left: -50px;
   }
}



@media (max-width:500px) {
   .sitelinks {
	padding-left:0px;
	text-align:center;
   }
}

.currentpage {
	font-weight:bold;}

.links {
	height:70;
	float:right;
	padding-right:20px; }

@media (max-width:500px) {
   .links {
	float:none;
	text-align:center;
   }
}

.link-img {
	padding-top:1px;
	padding-right:5px;
	padding-bottom:2px;
	fill:#eee; }

.link-img:hover {
  	opacity:0.7; }

section {
	padding-bottom:55px; }

#coverpicture {
	width:100%;
	height:400px; }
	
.col2 {
	column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2; }

.page-content {
	margin-top:14px;
	width:93%;
	margin-left:auto;
	margin-right:auto;
	padding:10px; }


	
.resume-head {
	color:#FFD700;
	text-align:right;
	margin-bottom:5px; }
	
.resume-head-info {
	text-align:right;
	margin-bottom:0px !important; }
	
.resume-date {
	float:right; }
	
.resume-title {
	 font-style: italic; }
	 
.resume-sub {
	margin-bottom:3px; }
	 
.highlight {
	color:#F0D855; }
	
.highlight-point {
	color:#F0D855;
	margin-top:14px; 
	margin-bottom:0px !important; }

.highlight-ul {
	margin-top:1px; }
	
.snapshot {
	font-family:Helvetica,Arial,sans-serif;
	background-color:#FF6666;
	height:23px;
	line-height:23px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333; }

div.snapshot a, div.snapshot a:link, div.snapshot a:visited {
	color: #3366cc; }
	
.mirror {
	font-size:12px; }
	
.centre {
	text-align:center; }



/* Blog page styles */
	
.blog-heading {
	margin-bottom:0px; }
	
.blog-meta {
	text-align:right;
	margin-bottom:20px; }



.blog-image-centre {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 55%;
	padding: 3px;
	text-align: center;
	font-size: 90%; }

.blog-image-left-port {
	float: left;
	margin-right:15px;
	margin-bottom:5px;
	padding:3px;
	text-align:left;
	font-size:90%;
	max-width:200px; }

.blog-image-left-land {
	float: left;
	margin-right:15px;
	margin-bottom:5px;
	padding:3px;
	text-align:left;
	font-size:90%;
	max-width:310px; }

.blog-image-right-port {
	float: right;
	margin-left:15px;
	margin-bottom:5px;
	padding:3px;
	text-align:right;
	font-size:90%;
	max-width:200px; }

.blog-image-right-land {
	float: right;
	margin-left:15px;
	margin-bottom:5px;
	padding:3px;
	text-align:right;
	font-size:90%;
	max-width:310px; }

[class^="blog-image-left"] p, div[class*=" blog-image-left"] p {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:10px;;
	line-height:95%; }

[class^="blog-image-right"] p, div[class*=" blog-image-right"] p, .blog-image-centre p {
	margin-top:0px;
	margin-bottom:0px;
	margin-right:10px;;
	line-height:95%; }

[class^="blog-image-"] img, div[class*=" blog-image-"] img {
	max-width:100%;
	max-height:100%;
	margin-bottom:0px; }

.comments {
	margin-top:30px; }

blockquote {
	display:block;
	width:80%;
	font-style:italic;
	margin-left:7%; }

.post-meta {
	display:inline-block;
	width:90px;
	margin-bottom:0; }

.top-right-links {
	float:right;
	width:120px;
	text-align:right; }
	
.post-list.archive ul {
    list-style:none;
    padding-left:0; }
    
.post h2 {
	margin-bottom:5px; }

article.post span.post-meta {
	margin-bottom:20px; } 


	
/* New style */

html, body {
	color:rgba(0,0,0,0.8);
	margin:0px;
	padding:0px;
	font:normal 14px/17px Arial, Helvetica, sans-serif; 
	height:100%; }

#wrapper {
	min-height:100%;
	position:relative; }

header {
	background-color:#373737;
	padding-top:10px;
	min-height:50px; }

#siteheader {
	padding-left:45px;
	margin-bottom:0px;
	height:45px;
	color:#eee; }

footer {
	border-top:1px solid #666;
	height:30px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0; }

footer p {
	text-align:right; 
	font-size:10px;
	height:20px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:5px;
	margin-top:5px; }

.sitelinks {
	padding-left:40px;
	line-height:43px;
	height:43px; }

.sitelinks a {
	padding-right:2.5%;
	color:#eee !important; }

h1 {
  	margin:0; 
  	font-size:40px; 
  	line-height:40px; 
  	font-weight:bold; }

h2 {
	margin-top:20px;
	font-size:30px;
	line-height: 30px;} 
	
p {
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:10px; }

a:link {
        color:#57A3E8;
        text-decoration:none; }

a:visited {
        color:#57A3E8;
        text-decoration:none; }

a:hover {
        color:#429ED7; }
        
/* Achievement Box style */

.achieveRow {
    position:relative;
    padding-left:71px;
    min-height:66px;
    margin-bottom:12px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    height:66px;
    width:90%;
    max-width:855px;
    margin-left:auto;
	margin-right:auto; }
    
.achieveImgHolder {
    position:absolute;
    left:0;
    top:1px; }
    
.achieveImgHolder img {
	width:58px;
	height:58px;
	background-color:rgba(0,0,0,0.8); }

.achieveTxtHolder {
    min-height: 64px;
    position: relative;
    background-color:rgba(0,0,0,0.8); 
    top:1px; }
    
.achieveTxt {
    padding: 17px 6px 6px 6px; }
    
.achieveUnlockTime {
    float: right;
    text-align: right;
    color: #898989;
    font-size: 12px; }
    
.achieveTxt h3 {
    font-weight:bold;
    font-size:15px;
    color:#e1e1e1;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:0px; }
    
.achieveTxt h5, .achieveTxt span {
    font-weight:normal;
    font-size:12px;
    color:#898989;
    margin:0px; }
    
.achieveImgHolder .achieveUnlock {
	border:3px solid #93C000; }
	
.achieveImgHolder .achieveLock {
	border:3px solid #C00036; }
	
.achieveTxt progress {
    width:40%; }
    
.achieveImgHolder p {
	position:absolute;
	bottom:10%;
	right:7%;
	font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-size:22px;
	color:#eee;
	margin:0px; }

/* reference tooltips style */

.refnum {
    position: relative;
    left: 2px;
    bottom: 1ex;
    font-family: Verdana, sans-serif;
    color: #57A3E8;
    font-size: .7em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }
    
.reftext {
    font-size:80%;
    margin-left:1.5%; }

/* Google Maps style */

.google-maps {
    position:relative;
    padding-bottom:45%; // This is the aspect ratio 
    height:0;
    overflow:hidden; }
    
.google-maps iframe {
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	border:0; }

/* Blog styles */
.post-link {
	color:rgba(0,0,0,0.8) !important; }

.hero {	
	text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding: 150px 0px;
    padding-bottom: 50px;
    color:#eee; }
    
.no-image {
	background:#373737;
    padding-top:90px;
    text-align:center;
    color:#eee; } 

.hero .author-container {margin-top: 150px;}

.no-image .author-container {margin-top: 90px;}
    
.hero .author-container img {width:85px;}

.no-image .author-container img {width:75px;}

.author-container img {
	border-radius:50%;
	float:none;
	margin:10px auto; }
    
.author-name {
    margin-top: 0; }
    
.hero .date. .hero_no-image .date {
	font-size: 12px; }
    
.inner-container {
	width:800px;
	margin-left: auto;
	margin-right: auto; }
	
.entry {
	margin-top:50px;
	margin-bottom:50px; }
	
.entry img {
	display: block;
	margin-left:auto;
	margin-right:auto; }	

.entry p em { 
	display:table;
	margin-left:auto;
	margin-right:auto;
	font-size:12px; }

.source {
	padding: 25px;
    background: #fff3c7;
    border: 1px solid #e6d599;
    margin-bottom: 25px;
    text-align:center; }
    
.source p {margin-bottom:0;}
    
#next-prev {
	 text-align:center;
	 padding-top:30px;}

.metadata_row {
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	margin-top:25px;
	margin-bottom:25px; }

.col_textleft {
	text-align:left;
	float:left; }
	
.col_textright {
	text-align:right;
	float:right; }
	
.postTag {
	display:inline-block;
    margin:0.167em;
    line-height:1;
    text-decoration:none;
    text-transform:lowercase;
    color:#3e6d8e;
    background-color:#dfeaf1;
    border:0 solid #dfeaf1;
    white-space:nowrap;
    transition:all 0.1s ease-in;
    line-height:13px;
    margin-bottom:2.171px;
	margin-left:0px;
	margin-right:2.171px;
	margin-top:2.171px;
	padding-bottom:5.85px;
	padding-left:6.5px;
	padding-right:6.5px;
	padding-top:5.85px; }