.resume-head {
	color:#FFD700;
	text-align:right;
	margin-bottom:5px; }
	
.resume-head-info {
	text-align:right;
	margin-bottom:0px !important; }
	
.resume-date {
	float:right; }
	
.resume-title {
	 font-style: italic; }
	 
.resume-sub {
	margin-bottom:3px; }
	 
.highlight {
	color:#F0D855; }
	
.highlight-point {
	color:#F0D855;
	margin-top:14px; 
	margin-bottom:0px !important; }

.highlight-ul {
	margin-top:1px; }
	
.mirror {
	font-size:12px; }
	
.centre {
	text-align:center; }

/* Override theme defaults */

html, body, h1, h2, h3, h4, h5, p {
	color:rgba(0,0,0,0.8);
	font-family: Arial, Helvetica, sans-serif; }

.post h1 {
	font-style:normal;
	font-weight:bold; }

a:link {
    color:#57A3E8;
    text-decoration:none; }

a:visited {
    color:#57A3E8;
    text-decoration:none; }

a:hover {
	color:#429ED7; }

em {
	font-style:italic;
	background:none; }
	
footer {
	height:120px;  }

footer .social {
	top: 30px;
	width:100%;
	text-align:center;
	margin:0;
	right:0; }
	
footer small {color: rgba(249,249,249,0.2)}
footer a:hover {color:white;}

.social .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:rgba(249,249,249,0.3);
    display:inline;
    padding:15px;
}

.archive-wrap {padding-top:0;}

/* Achievement Box style */

.achieveRow {
    position:relative;
    padding-left:71px;
    min-height:66px;
    margin-bottom:12px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    height:66px;
    width:100%;
    max-width:855px;
    margin-left:auto;
	margin-right:auto; }
    
.achieveImgHolder {
    position:absolute;
    left:0;
    top:1px; }
    
.achieveImgHolder img {
	width:64px;
	height:64px;
	background-color:rgba(0,0,0,0.8);
	margin:0; }

.achieveTxtHolder {
    min-height: 64px;
    position: relative;
    background-color:rgba(0,0,0,0.8); 
    top:1px; }
    
.achieveTxt {
    padding: 6px 6px 6px 6px; }
    
.achieveUnlockTime {
    float: right;
    text-align: right;
    color: #898989;
    font-size: 12px; }
    
.achieveTxt h3 {
    font-weight:bold;
    font-size:15px;
    color:#e1e1e1;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:0px; 
    padding-top:0; }
    
.achieveTxt h5, .achieveTxt span {
    font-weight:normal;
    font-size:12px;
    color:#898989;
    margin:0px; 
    padding-top:0;}
    
.achieveImgHolder .achieveUnlock {
	border:3px solid #93C000; }
	
.achieveImgHolder .achieveLock {
	border:3px solid #C00036; }
	
.achieveTxt progress {
    width:40%; }
    
.achieveImgHolder p {
	position:absolute;
	bottom:0px;
	right:7%;
	font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	font-size:22px;
	color:#eee;
	margin:0px; }

/* reference tooltips style */

.refnum {
    position: relative;
    left: 2px;
    bottom: 1ex;
    font-family: Verdana, sans-serif;
    color: #57A3E8;
    font-size: .7em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer; }
    
.reftext {
    font-size:80%;
    margin-left:1.5%;
    margin-top:15px; }

.reftext p {
    margin-bottom:0px; }
    
.refnote {
	text-decoration:underline;
    margin-left:-10px; }

/* Google Maps style */

.google-maps {
    position:relative;
    padding-bottom:45%; // This is the aspect ratio 
    height:0;
    overflow:hidden; }
    
.google-maps iframe {
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	border:0; }

.caption { 
	text-align:center;
	font-style:italic;
	font-size:12px; }

.source {
	padding: 25px;
    background: #fff3c7;
    border: 1px solid #e6d599;
    margin-bottom: 25px;
    text-align:center; }
    
.source p {margin-bottom:0;}

/* Portfolio disclaimer style  */
	
.snapshot {
	font-family:Helvetica,Arial,sans-serif;
	background-color:#FF6666;
	height:23px;
	line-height:23px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333; }

div.snapshot a, div.snapshot a:link, div.snapshot a:visited {
	color: #3366cc; }

/* Youtube embed style */

div.youtube-embed {
	text-align:center; }
	
div.youtube-embed iframe {
	border:0; }
	
/* Table style */
tr:nth-child(even) {
	background: #e6e6e6; }
	
tr:nth-child(odd) {
	background:#fbfbfb; }

table {
	font:inherit;
    color:inherit;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px; }
	
/* Infobox style */

table {
    font:inherit;
    color:inherit; }

.warning {
	width:50%;
    background:#ff9999;
    margin-left:auto;
    margin-right:auto;
    border-color:#ff6666;
    border-width:thin;
    border-style:solid;
    text-align:center; }

.infobox {
	width:50%;
    background:#ffffcc;
    margin-left:auto;
    margin-right:auto;
    border-color:#ffff80;
    border-width:thin;
    border-style:solid;
    text-align:center; }
    
.infobox tr {
	background:#ffffcc; }
	
.warning tr {
	background:#ff9999; }
    
.warning img, .infobox img {
    width:50px;
    height:50px;
    margin-left:4px; }
    
.convopic {
	border-radius:50%; }
	
/* Blockquote style */
blockquote {
	background: #fbfbfb;
	border-left: 5px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px; }
	
/* homepage style */
img.hello-img {
	width: 150px;
    border-radius: 50%; }