---
layout: default
section: blog
---

<div class="page-content">
  {% for post in site.posts %}
    <article class="post">

      <h2><a class="blog-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }} 
        {% capture content_words %} 
          {{ post.content | number_of_words }} 
        {% endcapture %} 
        {% capture excerpt_words %} 
          {{ post.excerpt | number_of_words }} 
        {% endcapture %} 
        {% if excerpt_words != content_words %}
        <p><a class="blog-readmore" href="{{ post.url }}">Read more</a></p>
        {% endif %}
        
    </article>
  {% endfor %}
</div>
