---
layout: default
section: blog
excerpt: The most recently-published blog posts
---
<div class="page-content">
            <div class="top-right-links">
              <span><a href="/blog/archive.html">Archive</a> ({{ site.posts | size }} posts)</span>
            </div>{% for post in site.categories.blog limit: 8 %}
            <article class="post-preview">
              <hr>
              {% if post.hero %}<img src="{{ post.hero }}">{% endif %}
              <h2><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <p>{{ post.excerpt }}</p>
{% capture content_words %} {{ post.content | number_of_words }} {% endcapture %} {% capture excerpt_words %} {{ post.excerpt | number_of_words }} {% endcapture %} {% if excerpt_words != content_words %}            <p><a class="blog-readmore" href="{{ post.url }}">Read more</a></p>{% endif %}
            </article>{% endfor %}
          </div>