header {
    position: fixed; 
    top: 0; 
    left: 0;
    width:100%;
    max-height:70px;
    background:#008751;
    color:#FCD116; }
    
#header-space {
	padding-bottom:77px !important; }
    
h1 {
    padding-left:12px; }
    
h2 {
	margin-bottom:5px; }
    
header h1 span {
   font-size:.4em;
    font-weight:normal;
    font-style:italic;}
    
section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top:6;
    margin-bottom:6;
    padding-bottom:30px;
     }
    
#whereto {
	text-align:center;}    
    
.includeinfo {
	text-align:center; }

.breadcrumb {
	text-align:right; }