---
layout: default
section: authors
---
{% assign var_author = site.data.authors.[page.author] %}
        <div class="page-content">
          <div class="post-list archive">
            <div class="main-col">
              <div class="author-container">
				<img src="{{ var_author.avatar }}" class="avatar"></a>
				<h2>{{ var_author.name }}</h2>
                <h5>
			  			{% if author.website %}
			  				<a href="{{ author.website }}">Website</a>
			  			{% endif %}
			  			{% if author.facebook %}
			  				{% if author.website %} • {% endif %}
			  				<a href="https://www.facebook.com/{{ author.twitter }}">Facebook</a>
			  			{% endif %}
			  			{% if author.github %}
			  				{% if author.twitter or author.website %} • {% endif %}
			  				<a href="https://github.com/{{ author.github }}">GitHub</a>
			  			{% endif %}
			  			{% if author.stack %}
			  				{% if author.twitter or author.website or author.github %} • {% endif %}
			  				<a href="{{ author.stack }}">Stack Overflow</a>
			  			{% endif %}
			  			{% if author.youtube %}
			  				{% if author.twitter or author.website or author.github or author.stack %} • {% endif %}
			  				<a href="{{ author.youtube }}">YouTube</a>
			  			{% endif %}
			  		</h3>
              </div>
              <ul>
                {% for post in site.posts %}
                  {% if post.author == var_author %}
                  <li>{{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>