---
layout: default
section: authors
---
{% assign author = site.data.authors.[page.author] %}
        <div class="page-content">
          <div class="post-list archive">
            <div class="main-col">
              <div class="author-container">
				<img src="{{ author.avatar }}" class="avatar"></a>
				<h2>{{ author.name }}</h2>
                
              </div>
              <ul>
                {% for post in site.authors[page.author] %}
                <li>{{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>