---
layout: default
section: blog
---

<article class="page-content">
  <h2 class="blog-heading">{{ page.title }}</h2>
  <p class="blog-meta">By {{page.author}} on {{ page.date | date: "%b %-d, %Y" }}</p>
  <div class="entry">
    {{ content }}
  </div>
  <div class="blog-next-prev-text">
    <p>{% if page.previous.url %}<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">« Previous Blog Post</a>{% endif %} | {% if page.next.url %} <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Next Blog Post »</a>{% endif %}</p>  
</div>
  {% include disqus.html %}
</article>
