---
layout: default
section: blog
---
{% assign author = site.data.authors[page.author] %}
<article class="post full-post" data-id="{{ page.id }}">
	{% if page.hero == null %}
	<div class="hero no-image">
	{% else %}
	<div class="hero" style="background-image: linear-gradient(rgba(37, 43, 51, 0.35), rgba(37, 43, 51, 0.35)), url('{{ page.hero }}');">
	{% endif %}
		<div class="inner-container media-padded">
			<h1>{{ page.title }}</h1>
			<div class="author-container">
				<a href="/authors/{{ page.author }}"><img src="{{ author.avatar }}"></a>
				<h4 class="author-name">by <a href="/authors/{{ page.author }}/">{{ author.name }}</a></h2>
				<div class="date">on {{ page.date | date: "%B %e, %Y" }}</div>
			</div>
		</div>
	</div>
	<div class="inner-container">
		<div class="entry">
		  	{% if page.source %}
		  	<div class="source">
		  		<p>This post was originally published elsewhere and has been placed here with permission. You can see <a href="{{ page.source }}" target="_blank">where it was originally published here</a>.</p>
		  	</div>
		  	{% endif %}
		  	<div class="media-padded">
			    {{ content }}
			    <div class="metadata -row">
			    	<div class="-col6 _textLeft">
						<p>By <a href="/authors/{{ page.author }}/">{{ author.name }}</a></p>
				    </div>
				    <div class="-col6 _textRight">
				    	<p><strong>Tagged in</strong>&nbsp;
						{% for tag in page.tags %}
							<a href="/tags/{{ tag }}/"><span class="postTag">{{ tag }}</span></a>
						{% endfor %}</p>
				    </div>
			    </div>
			</div>
  </div>
  {% include disqus.html %}
</div>
