---
layout: things-page
breadcrumb: yes
---
<p class="breadcrumb">Things to do in <a href="/projects/australia-list">Australia</a> &gt; {% if page.state %}<a href="/projects/australia-list/{{page.state}}">{{page.state | capitalize}}</a> &gt; {% endif %}<b>{{ page.title }}</b></p>
              <div class="item-info">
				<img src="{{ page.picture }}">
				<h2>{{ page.title }}</h2>
                  {% include thing-links.html type="page" %}
              </div>
              <div class="item">
                {{ content }}
              </div>
